div.ts_workproduct_card {
    margin: 5px;
    padding: 2px;
    text-align: center;
    font-size: 12px;
}

div.ts_task_card {
    margin: 2px;
    padding: 2px;
    width: 50px;
    text-align: center;
    font-size: 9px;
    border: 1px solid black !important;
    float: left;
}