div.ts_workproduct_card {
    margin: 5px;
    padding: 2px;
    text-align: center;
    font-size: 12px;
}

td {
    text-align: left;
    font-weight: normal;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

div.ts_task_card {
    margin: 2px;
    padding: 2px;
    width: 50px;
    text-align: center;
    font-size: 9px;
    border: 1px solid black;
    float: left;
}

.ts_task_card.blocked {
    border: 2px solid red !important;
}

.ts-editor-field-label {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    background-color: #eee;
}

.ts-editor-field-contents {
    font-size: 14px;
}